/*
 * Simple Media Query
 */
/* Max/min media query support if required */
/*
 * Vendor Prefix generator
 */
/*
 * Remove margin on last child in grid and rightmost item in a multiple column grid
 */
/*
 * a small mixin for easy use of rem with px as fallback
 * usage: @include x-rem(font-size, 14px)
 * usage: @include x-rem(margin, 0 12px 2 1.2)
 * usage: @include x-rem(padding, 1.5 24px)
 *
 * thanks to Eric Meyer for https://github.com/ericam/susy
 * and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
 */
/*
 * Linear gradient generator. 'start' is top, 'end' is bottom. IE9 support not included using CSS SVG include.
 *
 * Use http://www.colorzilla.com/gradient-editor/ to generate IE9 SVG element
 *
 */
.dark-theme h1, .dark-theme h2, .dark-theme p, .dark-theme a {
  color: #fff !important; }
.dark-theme a {
  display: inline-block; }

h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 15px 0; }
  @media (max-width: 767px) {
    h1 {
      font-size: 32px; } }

h2 {
  clear: both;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  margin: 60px 0 40px 0; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 24px;
      margin: 30px 0; } }
  h2 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #0a5ae4; }
    h2 a:hover {
      text-decoration: none; }

h3 {
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0; }
  @media screen and (max-width: 640px) {
    h3 {
      font-size: 22px; } }

p {
  color: #434348;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5em; }
  @media screen and (max-width: 640px) {
    p {
      font-size: 18px; } }

p.stand-out {
  font-size: 24px;
  line-height: 48px;
  font-weight: 300;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    p.stand-out {
      font-size: 20px;
      line-height: 38px; } }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3nxxut");
  src: url("fonts/icomoon.eot?3nxxut#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3nxxut") format("truetype"), url("fonts/icomoon.woff?3nxxut") format("woff"), url("fonts/icomoon.svg?3nxxut#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fob-logo:before {
  content: "\e910"; }

.icon-patreon-wordmark:before {
  content: "\e90e"; }

.icon-mail:before {
  content: "\e90f"; }

.icon-link-external:before {
  content: "\e906"; }

.icon-patreon-logomark:before {
  content: "\e900"; }

.icon-calendar:before {
  content: "\e901"; }

.icon-location:before {
  content: "\e902"; }

.icon-time:before {
  content: "\e903"; }

.icon-facebook:before {
  content: "\e904"; }

.icon-instagram:before {
  content: "\e905"; }

.icon-cross:before {
  content: "\e90c"; }

.icon-info:before {
  content: "\e907"; }

.icon-close:before {
  content: "\e90d"; }

.icon-chevron-right:before {
  content: "\e908"; }

.icon-chevron-left:before {
  content: "\e909"; }

.icon-chevron-with-circle-right:before {
  content: "\e90a"; }

.icon-chevron-with-circle-left:before {
  content: "\e90b"; }

.icon-instagram, .icon-facebook, .icon-patreon-logomark {
  font-size: 32px; }
  @media screen and (max-width: 640px) {
    .icon-instagram, .icon-facebook, .icon-patreon-logomark {
      font-size: 30px; } }

.icon-patreon-wordmark {
  font-size: 38px; }

.icon-fob-logo {
  font-size: 80px; }
  @media screen and (max-width: 640px) {
    .icon-fob-logo {
      font-size: 70px; } }

.flex-icon {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center; }

.btn .glyphicon, .btn:hover .glyphicon, .btn:focus .glyphicon {
  font-size: 16px;
  margin-left: 10px; }

@media screen and (max-width: 480px) {
  .btn {
    width: 100%; } }

.btn {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif; }
  .btn .icon-mail {
    margin-left: 15px; }

.btn-primary {
  background-color: #0a5ae4;
  color: #fefefe; }

.btn-primary:hover, .btn-primary:focus {
  background: #094dc3;
  outline: none; }

.btn-secondary {
  background: #F96854;
  color: #fff; }
  .btn-secondary:hover, .btn-secondary:focus {
    color: #fff !important;
    text-decoration: underline !important;
    outline: none; }

.btn-primary.btn-transparent, .btn-primary.btn-transparent:hover, .btn-primary.btn-transparent:focus {
  display: inline-block;
  border: 1px solid white;
  background: transparent;
  font-size: 0.85em;
  margin-top: 1em; }

.btn-primary.btn-transparent:hover .text, .btn-primary.btn-transparent:focus .text {
  text-decoration: underline; }

/* Grid style */
.grid-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

ul.grid {
  margin: 0 auto;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.grid li {
    float: left;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      ul.grid li {
        width: calc(50% - 1px); } }
    ul.grid li figure {
      margin: 0; }
      ul.grid li figure img {
        display: block;
        width: 100%;
        padding: 15px; }

.home #grid-gallery {
  top: -1px;
  position: relative; }

@media screen and (min-width: 768px) {
  .home .grid {
    background: #dedede; }
    .home .grid:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      height: 100%;
      background: #dedede;
      z-index: 12;
      width: 1px; } }
.home .grid li {
  background: #fff; }
  @media screen and (max-width: 767px) {
    .home .grid li {
      width: 100%; }
      .home .grid li figure, .home .grid li figcaption {
        max-width: 480px;
        margin: 0 auto; } }
.home .grid a {
  color: inherit; }
  .home .grid a h3, .home .grid a p {
    color: inherit; }
  .home .grid a:hover {
    text-decoration: none; }
  .home .grid a h3 {
    display: inline-block; }
    .home .grid a h3 span.text {
      border-bottom: 1px solid #0a5ae4; }
  @media screen and (max-width: 640px) {
    .home .grid a .icon-instagram, .home .grid a .icon-facebook, .home .grid a .icon-patreon-logomark {
      font-size: 24px; } }
.home .grid figure:after {
  content: '';
  position: absolute;
  left: 0px;
  height: 1px;
  width: 100%;
  background: #dedede;
  z-index: 1; }
.home .grid figcaption {
  padding: 15px;
  padding-bottom: 0; }
  .home .grid figcaption p {
    margin-bottom: 0; }

#curly-brace {
  width: 200px;
  position: absolute;
  right: -75px;
  top: 100px;
  transform: rotate(-90deg); }
  #curly-brace .brace {
    border-bottom: 7px solid #fff;
    margin: 0 10%;
    width: 30%;
    height: 20px;
    float: left; }
    #curly-brace .brace:before, #curly-brace .brace:after {
      content: "";
      width: 10%;
      height: 50px;
      position: absolute;
      display: block; }
    #curly-brace .brace#left:before {
      border-bottom: 7px solid #fff;
      border-bottom-left-radius: 15px;
      margin-left: -10%;
      margin-top: -30px; }
    #curly-brace .brace#left:after {
      border-top: 7px solid #fff;
      border-top-right-radius: 15px;
      margin-left: 30%;
      margin-top: 13px; }
    #curly-brace .brace#right:before {
      border-top: 7px solid #fff;
      border-top-left-radius: 15px;
      margin-left: -10%;
      margin-top: 13px; }
    #curly-brace .brace#right:after {
      border-bottom: 7px solid #fff;
      border-bottom-right-radius: 15px;
      margin-left: 30%;
      margin-top: -30px; }

header.landing .intro {
  position: relative; }
  @media screen and (min-width: 1024px) {
    header.landing .intro > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 100px; } }
header.landing img.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    header.landing img.logo {
      width: 100px;
      height: 100px; } }
header.landing .feature {
  position: relative; }
  @media (max-width: 1023px) {
    header.landing .feature {
      display: none; } }
  header.landing .feature > div img {
    height: auto;
    width: auto;
    float: right;
    border: 5px solid #fff;
    margin: 20px 0; }
    @media screen and (min-width: 1024px) {
      header.landing .feature > div img {
        width: auto;
        max-height: 90vh;
        max-width: 100%; } }
    @media screen and (min-width: 1600px) and (min-height: 970px) {
      header.landing .feature > div img {
        width: 100%;
        max-height: 900px; } }
  header.landing .feature > div > span {
    margin-top: 20px;
    display: block; }
@media screen and (max-width: 767px) {
  header.landing {
    background: #000; } }
@media screen and (max-width: 1023px) {
  header.landing {
    text-align: center; } }
@media screen and (max-width: 1023px) {
  header.landing .intro {
    width: 100%;
    right: 0; } }

body.inner header .strip {
  padding: 15px 0; }
  @media screen and (max-width: 640px) {
    body.inner header .strip {
      padding: 0; } }
  body.inner header .strip .strip-item {
    padding: 0; }
body.inner header a:hover, body.inner header a:focus {
  text-decoration: none;
  color: #0a5ae4; }
body.inner header .strip-item-wrapper {
  width: auto;
  float: right; }
@media screen and (max-width: 640px) {
  body.inner header .visible-xs {
    display: inline-block !important; } }
body.inner header .icon-fob-logo {
  color: #052D49;
  display: inline-block; }

footer {
  background-color: #021D31;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    footer {
      border-top: 7px solid #fff; } }
  footer .footer-wrap {
    display: flex !important;
    align-items: center; }
    @media screen and (max-width: 1199px) {
      footer .footer-wrap {
        width: 100%; } }
    footer .footer-wrap > div {
      padding: 0; }
  footer p {
    color: #fff; }
    @media screen and (max-width: 1023px) {
      footer p {
        margin-top: 10px; } }
    footer p a {
      color: #fff; }
      footer p a:hover, footer p a:focus {
        color: #fff;
        outline: none; }
  @media screen and (max-width: 767px) {
    footer .col-cta .footer-img a {
      margin-bottom: 35px; } }
  @media screen and (max-width: 1199px) {
    footer .footer-img {
      text-align: center; } }
  footer .footer-img img {
    display: inline-block; }
    @media screen and (min-width: 768px) {
      footer .footer-img img {
        margin-top: 30px; } }
  @media screen and (max-width: 1023px) {
    footer .arekibo .footer-img a {
      margin-top: 0px; } }
  @media screen and (max-width: 1199px) {
    footer .affiliate-desc {
      text-align: center; } }
  @media screen and (min-width: 1280px) {
    footer .col {
      padding: 55px; } }
  @media screen and (max-width: 1279px) {
    footer .col {
      padding: 35px 25px; } }
  footer div.col-cta {
    background: #052D49; }
    @media screen and (min-width: 1200px) {
      footer div.col-cta {
        border-left: 7px solid #fff; } }
    @media screen and (max-width: 1199px) {
      footer div.col-cta {
        border-bottom: 7px solid #fff; } }
    footer div.col-cta:before {
      position: absolute;
      left: 0em;
      top: 0;
      content: '';
      height: 100%;
      width: 800em; }
    footer div.col-cta:before {
      background: #052D49; }
    footer div.col-cta .col-cta-content {
      z-index: 2;
      position: relative; }
      footer div.col-cta .col-cta-content p {
        color: #fff !important; }

.strip {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
  border-top: 5px solid #0a5ae4; }
  @media screen and (max-width: 767px) {
    .strip {
      padding-top: 25px;
      padding-bottom: 25px; } }
  @media screen and (min-width: 768px) {
    .strip {
      padding-top: 25px;
      padding-bottom: 25px; } }
  .strip .strip-item-wrapper {
    height: 80px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    float: left;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .strip .strip-item-wrapper {
        text-align: center; } }
  @media screen and (max-width: 1023px) {
    .strip .event-cta a {
      display: inline-block;
      margin-top: 20px; } }

.strip-item {
  font-size: 20px;
  font-family: "Heebo", sans-serif;
  line-height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  color: inherit; }
  @media screen and (max-width: 640px) {
    .strip-item {
      padding: 0; } }
  .strip-item [class^="icon-"], .strip-item [class*=" icon-"] {
    margin-right: 15px; }
  .strip-item .text {
    color: inherit;
    border-bottom: 1px solid #0a5ae4; }

a.strip-item {
  color: #052D49;
  text-decoration: none; }
  a.strip-item:hover {
    text-decoration: none;
    color: #0a5ae4; }

body.home {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    body.home {
      background: none; } }
  body.home:before {
    content: "";
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1; }
  body.home main {
    width: 100%; }
  @media screen and (max-width: 1024px) {
    body.home .strip-item.hide-mob {
      display: none; } }
  @media screen and (min-width: 1024px) {
    body.home .strip-item.hide-mob:last-child {
      display: block; } }
  @media screen and (max-width: 1024px) {
    body.home .strip-item.show-mob {
      margin: 0 auto; } }
  body.home .mob-social {
    display: none;
    color: #fff;
    margin-top: 35px; }
    @media screen and (max-width: 1024px) {
      body.home .mob-social {
        display: block; } }
    body.home .mob-social [class^="icon-"], body.home .mob-social [class*=" icon-"] {
      font-size: 24px;
      margin-right: 10px; }
    body.home .mob-social .divider {
      margin: 0 15px;
      font-size: 36px; }
  body.home .grid-wrap {
    visibility: visible; }

body.campaign header {
  width: 100%; }
  @media screen and (min-width: 641px) and (max-width: 1023px) and (min-height: 950px) {
    body.campaign header {
      height: 55vh; } }
  @media screen and (min-width: 1024px) {
    body.campaign header {
      height: 100vh;
      max-height: 1000px; } }
  @media screen and (min-width: 641px) {
    body.campaign header {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center; } }
body.campaign header {
  position: relative; }
  @media (min-width: 641px) {
    body.campaign header:before {
      content: "";
      position: absolute;
      bottom: 0px;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); } }
  body.campaign header > .container {
    min-height: 230px; }
  @media (max-width: 767px) {
    body.campaign header {
      background-color: black;
      background-image: none !important; } }
  @media (min-width: 641px) {
    body.campaign header {
      background-color: rgba(0, 0, 0, 0.8); } }
body.campaign footer {
  background: #000; }
  body.campaign footer .footer-wrap {
    padding: 0; }
  body.campaign footer p {
    margin: 25px 0 25px 10px; }
  @media screen and (min-width: 1200px) {
    body.campaign footer .arekibo p {
      margin-top: 70px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    body.campaign footer .arekibo .footer-img {
      text-align: right; }
      body.campaign footer .arekibo .footer-img a {
        margin-top: 0; } }
  @media screen and (max-width: 1199px) {
    body.campaign footer .footer-img {
      text-align: center; } }
  body.campaign footer .footer-img img {
    margin-top: 0; }
  body.campaign footer .footer-img a {
    display: inline-block; }
    @media screen and (min-width: 768px) {
      body.campaign footer .footer-img a {
        margin-top: 60px; } }
body.campaign .col-cta:before {
  background: #666; }
body.campaign section.about-campaign {
  padding-top: 2em; }
  body.campaign section.about-campaign .grid-wrap {
    visibility: hidden;
    max-width: 850px; }
    @media screen and (min-width: 768px) {
      body.campaign section.about-campaign .grid-wrap .grid li {
        width: calc(33.33333% - 1px); } }
body.campaign section.map:before {
  content: '';
  width: 100%;
  display: block;
  height: 5px;
  position: relative;
  z-index: 10;
  top: 0;
  box-shadow: 0px 6px 9px 0px rgba(85, 0, 26, 0.3); }
body.campaign #map-canvas-contact {
  height: 600px; }
  @media screen and (max-width: 599px) {
    body.campaign #map-canvas-contact {
      height: 350px; } }
@media screen and (max-width: 640px) {
  body.campaign .strip-item-wrapper {
    display: block;
    height: auto; } }
body.campaign .strip-item [class^="icon-"], body.campaign .strip-item [class*=" icon-"] {
  color: #0a5ae4; }
body.campaign .about-venue {
  clear: both;
  padding-bottom: 35px; }
  body.campaign .about-venue img {
    margin-bottom: 20px; }

body.inner main article.container {
  background: #fff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede; }
  body.inner main article.container .top {
    border-bottom: 1px solid #dedede; }
    body.inner main article.container .top .image {
      border-right: 1px solid #dedede; }

article img {
  max-width: 100%; }

@media screen and (max-width: 1200px) {
  .container {
    width: 100% !important; } }

article p {
  font-size: 18px; }

.typeform-widget {
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .typeform-widget {
      width: 600px;
      height: 600px; } }
  @media screen and (max-width: 1024px) {
    .typeform-widget {
      height: 130px !important; }
      .typeform-widget .typeform-button {
        top: 30px !important; }
      .typeform-widget .typeform-title {
        display: none !important; } }

.img-contact {
  width: 100%;
  max-width: 280px;
  opacity: .8; }

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none; }
  .modal-content .modal-header, .modal-content .modal-footer {
    border: none; }
  .modal-content .close {
    font-size: 3em;
    color: #666;
    opacity: 1; }
  .modal-content .modal-header {
    padding-right: 50px; }
  .modal-content .modal-body {
    padding: 0 50px;
    max-height: 80vh;
    overflow: auto; }
  .modal-content img {
    float: left;
    margin: 0 20px 10px 0; }
  .modal-content p {
    color: #434348 !important; }

body.modal-open .modal.in {
  display: flex !important;
  align-items: center; }

.modal-backdrop.in {
  opacity: 0.8; }

.carousel-control.left, .carousel-control.right {
  background: none; }

.carousel-control {
  text-shadow: none;
  position: relative;
  color: #434348;
  font-size: 38px; }
  .carousel-control:hover, .carousel-control:active, .carousel-control:focus {
    color: #0a5ae4; }

.slide-tools {
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .slide-tools {
      margin-top: 15px; } }

.slide-info {
  padding: 20px 0; }

.carousel-inner {
  background: #efefef; }

.carousel-inner > .item {
  padding: 30px 0; }
  @media screen and (max-width: 767px) {
    .carousel-inner > .item {
      padding: 15px 0; } }

.carousel-inner > .item > img {
  width: auto !important;
  height: auto;
  margin: 0 auto;
  max-height: 80vh; }

.spinner {
  margin-top: 80px;
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
.grid-wrap {
  visibility: hidden; }

body {
  display: block;
  background: #fff; }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
@media screen and (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

main {
  background: #fff; }

.row {
  padding: 1em 0; }

.vignette {
  border-radius: 50%; }

.squared {
  border-radius: 0; }

.no-padding {
  padding: 0; }
